<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMFoundation-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MMFoundation-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35757C8D1FD5DB2A0022C2FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35757C961FD5DB2A0022C2FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F3119620F9337D0062AD82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F3119E20F9337D0062AD82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F311B220F933A90062AD82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F311BA20F933A90062AD82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
